header{
background-color:blue;
height:150px;
padding:10px;
}
nav a{
color:red;
background-color:white;
font-size:250%;
display:inline-block;
width:20%;
text-decoration:none; 
}
a:hover{
background-color:violet;
color:red;
}
a:focus{
background-color:green;
color:red;
}
a:active{
border:3px black;
}
h1{
text-align:center;
text-transform:uppercase;
}
nav{
text-align:center;
}
body{
background-color:grey;
}

h2{
background-color:#34ebe1;
color:grey;
text-transform:capitalize;
}
img{
width:75px;
}
footer{
background-color:blue;
}
div{
display:inline-block;
width:30%;
font-size:130%;
}
a[href$=".org"] {
background-color:yellow;
color:black;
}
