.textcolor{
color:blue;
}

.textcolor2{
color:#a8323c;
}
.textcolor3{
color:rgb(256,0,256);
}

.textspace{
letter-spacing:5px;
}

.wordspace{
word-spacing:10px;
}

.textalign{
text-align:right;
}
.textdec{
text-decoration:line-through;
}
.texttr{
text-transform:capitalize;
}
.textstyle{
font-family:verdana,sans-serif;
font-size:xx-large,x-large,larger,largemedium,small,smaller,x-small,xx-small,length,%;
font-style:italic;
line-height:100%;
}
.myborder{
border:5px;
border-color:green;
border-style:dotted;
}