header{
text-align:center;
letter-spacing:10px;
word-spacing:10px;
text-transform:uppercase;
text-decoration:overline;
line-height:300%;
color:black;
background-color:grey;
}
h2{
background-color:blue;
}
body{
background-color:white;
font-size:100;
font-family:Impact;
}
#div1{
border:none;
border-color:red;
border-style:dotted;
width:auto;
height:70px;
padding:100px;
margin:0px,10px,0px,20px;
background-image:url(logo.jpg);
background-repeat:repeat-y;
opacity:0.4;
}
img:hover{
opacity:1.0;
}
span{
background-color:green;
display:block;
float:both;
}
div{
background-color:blue;
}
p{
background-color:pink;