body{
background-color:yellow;
color:grey;
font-family:Impact;
}

h1{
color:green;
font-family:Arial;
}
h2,h3{
color:white;
font-family:30;
}
p{
color:red;
}

h1{
color:red;
}
/*display red using color
-------------------------------*/
h2{
color:#32a8a4;
}
/*display using hex decimal
----------------------------*/
h3{
color:rgb(256,0,256);
}
/*display color using rgb*/


.boldtext{
font-size:30;
color:blue;
font-family:Impact;
}

.largetext{
font-size:large;
color:grey;
font-weight:italic;
}
.underline{
text-decoration:underline;
}



















